:root {
	--black: #000000;
	--mauveine: #7e0799;
	--purpureus: #9649cb;
	--periwinkle: #afbbf2;
	--columbia-blue: #c1ddf3;
	--flex-background: #ffffff;
}
@font-face {
	font-family: 'Young Serif';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/youngserif/v2/3qTpojO2nS2VtkB3KtkQZ1t93kY.woff2) format('woff2');
}
html, body {
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: 'Young Serif', serif;
}
.main-flex-container {
	width: 100%;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: var(--purpureus);
	background-image: linear-gradient(-45deg, var(--mauveine), var(--purpureus));
}
.main-container {
	margin: 0;
	display: flex;
	min-height: 60vh;
	padding: 2rem 1rem;
	border-radius: 0.5rem;
	width: calc(35% - 4rem);
	align-items: flex-start;
	justify-content: center;
	background-color: var(--flex-background);
}
.input-bar {
	width: 100%;
	display: flex;
	justify-content: center;
}
input {
	width: 75%;
}
.button {
	width: 25%;
	border: none;
	padding: 1rem;
	cursor: pointer;
	color: var(--black);
	border-radius: 0 0.25rem 0.25rem 0;
	font-family: 'Young Serif', serif;
	background-color: var(--periwinkle);
}